* {
    margin:0px ;
}
.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}
ul {
    list-style: none;
}
@media only screen and (max-width: 600px) {
   .header-box {
       grid-template-columns: 1fr; 
   }
   .div-con-bg2{
    grid-template-columns: 1fr;
   }
}
@media only screen and (min-width: 768px) {
   .header-box {
       grid-template-columns: 20% 1fr; 
   }
     .div-con-bg2{
    grid-template-columns: 1fr 1fr; 
   }
}
@media only screen and (min-width: 1200px) {
   .header-box {
       grid-template-columns: 20% 1fr; 
   }
     .div-con-bg2{
    grid-template-columns: 1fr 1fr 1fr; 
   }
}
.header-box {
    display: grid;   
    grid-template-rows: auto;
    gap: 5px;
    align-items: center;
    padding: 20px;
    background-color: rgb(233, 132, 38);
}
#img-ej{
    width:50%;
    border: 5px double rgb(0, 255, 34);
    border-radius: 50%;
    }
#header{
    flex: 1 1 50%;
    text-align: center;
    background-color: rgb(233, 132, 38);
    }
#header2{
    flex: 1 1 50%;
    flex-basis: content;
    text-align: center;
    font-family: 'Titillium Web';
    font-size: 100%;
    background-color: rgb(233, 132, 38);
    }
#nav{
    font-family: 'Titillium Web';
    background-color: rgb(233, 132, 38);
    }
#footer{
    font-family: 'Titillium Web';
    background-color: rgb(233, 132, 38);
    text-align: center;
    ;

    }
.div-con-bg2{
    display: grid;   
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    text-align: center;
    padding: 20px;
    font-family: 'Titillium Web';
    font-size: 300%;
    color: rgb(112, 230, 89);
    text-shadow: rgb(26, 13, 125) 2px 2px 1px;
    background-image: url("../content/img/Banquito.png") ;
    background-size: 100%;
    background-attachment: fixed;
}
.div-con-bg{
    padding: 10%;
    text-align: center;
    font-family: 'Titillium Web';
    font-size: 300%;
    color: rgb(112, 230, 89);
    text-shadow: rgb(26, 13, 125) 2px 2px 1px;
    background-image: url("../content/img/Banquito.png") ;
    background-size: 100%;
    background-attachment: fixed;
    }
#show1{
        width: 85%;
        height: 500px; 
        border: 5px solid blue;
        border-radius: 10%;
        background-image: url("../content/img/Banquito.png");
        }
#show2{
        width: 85%;
        height: 500px; 
        border: 5px solid blue;
        border-radius: 10%;
        background-image: url("../content/img/Banquito.png");
        }
#show3{
        width: 85%;
        height: 500px; 
        border: 5px solid blue;
        border-radius: 10%;
        background-image: url("../content/img/Banquito.png");
        }
#show4{
        width: 85%;
        height: 500px; 
        border: 5px solid blue;
        border-radius: 10%;
        background-image: url("../content/img/Banquito.png");
        }
#show5{
        width: 85%;
        height: 500px; 
        border: 5px solid blue;
        border-radius: 10%;
        background-image: url("../content/img/Banquito.png");
        }
#show6{
        width: 85%;
        height: 500px; 
        border: 5px solid blue;
        border-radius: 10%;
        background-image: url("../content/img/Banquito.png");
        }


